.button-form__submit {
  width: 280px;
  height: 65px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #2aab6d;
  border: none;
  cursor: pointer;
}

.form-main__legend {
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-main__legend sup {
  color: #d22856;
}

.button-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}

@media (min-width: 660px) {
  .form-main__button {
    margin-bottom: 53px;
  }

  .form-main__legend {
    margin: 0;
    padding-top: 10px;
  }

  .button-form__submit {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .form-main__button {
    width: 942px;
    margin: 0 auto;
  }
}
