.form-main__choice-app {
  background-color: #f2f2f2;
}

.choice-app__title {
  font-size: 18px;
  text-align: center;
  color: #d22856;
}

.choice-app__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.choice-app__item {
  padding: 25px 0;
  font-size: 18px;
  text-align: center;
}

@media (min-width: 660px) {
  .form-main__choice-app {
    order: -2;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 53px;
    background-color: white;
    border: 3px solid #f2f2f2;
  }
}

// desktop
@media (min-width: 1200px) {
  .form-main__choice-app {
    order: -2;
    width: 434px;
    margin: 0;
    // margin-left: auto;
    // margin: 0 auto;
    margin-bottom: 53px;
    background-color: white;
    border: 3px solid #f2f2f2;
  }
}
