.contest-title {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-width: 320px;
  min-height: 238px;
}

.contest-title__text {
  margin: 0;
  padding: 35px 40px;
  font-size: 24px;
  text-align: center;
  color: white;
}

.form-main__contest--title {
  margin: 0;
  padding: 50px 20px;
  text-align: center;
  font-size: 14px;
  line-heght: 30px;
}

// .form-main__initials{

// }

.initials__item {
  text-transform: uppercase;
  color: #d22856;
}

.initials__item label {
  padding-left: 20px;
}

.data__author {
  margin-left: 20px;
  // padding-left: 20px;
  width: 280px;
  height: 63px;
  font-size: 18px;
  line-height: 30px;
}

@media (max-width: 660px) {
  .form-main__contest--title {
    margin: 0;
    padding: 50px 0;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
  }
}

// tablet
@media (min-width: 660px) {
  .contest-title {
    width: 660px;
    height: 440px;
    background-image: url("../img/back-tablet@1x.jpg");
    background-repeat: no-repeat;
  }

  .contest-title__text {
    padding-top: 185px;
    text-align: center;
    font-size: 50px;
    line-height: 61px;
  }

  .form-main__contest--title br {
    display: none;
  }

  .form-main__contest--title {
    padding: 90px 120px;
    font-size: 18px;
    line-heght: 30px;
  }

  .data__author {
    width: 525px;
  }

  .data__author--name {
    width: 565px;
  }

  .initials__item {
    margin-bottom: 53px;
  }

  .contest__wrapper {
    display: flex;
    flex-direction: column;
  }

  .form-main__contest {
    order: -3;
  }
}

// desktop
@media (min-width: 1200px) {
  .contest-title {
    width: 1200px;
    height: 440px;
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
  }

  .form-main__contest--title {
    width: 1200px;
    padding: 90px 220px;
    font-size: 18px;
    line-heght: 30px;
  }

  .contest-title__text {
    padding-top: 185px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    font-size: 50px;
    line-height: 61px;
  }

  .form-main__initials {
    // width: 942px;
    // margin: 0 auto;
  }

  .initials {
    display: flex;
    flex-direction: column;
  }

  .contest__wrapper {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .data__author {
    width: 340px;
  }

  .data__author--name {
    width: 380px;
  }

  .form-main__contest {
    order: -3;
    width: 434px;
  }
}
