.emotions__title {
  font-size: 18px;
  text-align: center;
  color: #d22856;
}

.emotions__text {
  margin: 0 20px;
  margin-bottom: 50px;
  width: 280px;
  height: 200px;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 660px) {
  width: 280px;
  height: 200px;
}

@media (min-width: 660px) {
  .form-main__emotions {
    width: 620px;
    margin: 53px auto;
    border: 3px solid #f2f2f2;
  }

  .emotions__text {
    margin: 53px 60px;
    width: 500px;
    border: 3px solid #f2f2f2;
  }
}

@media (min-width: 660px) and (max-width: 1200px) {
  width: 620px;
  height: 200px;
}

@media (min-width: 1200px) {
  .form-main__emotions {
    width: 942px;
  }

  .emotions__text {
    margin: 45px 63px;
    width: 821px;
    height: 128px;
    text-align: left;
  }

  .emotions__title {
    margin: 0;
  }
}
