.form-main {
  width: 320px;
  margin: 0 auto;
  border: 1px dashed black;
}

// tablet
@media (min-width: 660px) {
  .form-main {
    width: 660px;
    margin: 0 auto;
    border: 1px dashed black;
  }
}

// desktop
@media (min-width: 1200px) {
  .form-main {
    width: 1200px;
    margin: 0 auto;
    border: 1px dashed black;
  }

  .desktop-block__title {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #d22856;
  }
}
