.form-main__achievements {
  background-color: #f2f2f2;
}

.achievements__title {
  margin: 0;
  padding: 37px 0;
  font-size: 18px;
  text-align: center;
  color: #d22856;
}

.achievements__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.achievements__item {
  padding: 30px 0;
  font-size: 18px;
  text-align: center;
}

// tablet
@media (min-width: 660px) {
  .form-main__achievements {
    width: 620px;
    margin: 53px auto;
    background-color: white;
    border: 3px solid #f2f2f2;
  }
}

// desktop
@media (min-width: 1200px) {
  .form-main__achievements {
    width: 942px;
    margin: 53px auto;
    background-color: white;
    border: 3px solid #f2f2f2;
  }

  .achievements__title {
    padding: 0;
  }

  .achievements__list {
    width: 830px;
    height: 180px;
    margin: 0 auto;
    display: flex;
    // justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .achievements__item {
    width: 260px;
    margin: 0 auto;
  }
}
