.page-header {
  margin: 0 auto;
  width: 320px;
  background-color: #283645;
}

.main-nav {

}

.main-nav__logo {
  text-decoration: none;
  color: white;
}

.main-nav__wrapper {

}

.main-nav__list {
  list-style: none;
  padding: 0;
}

.site-list__item a {
  text-decoration: none;
  color: white;
}
