.page-footer {
  width: 320px;
  margin: 0 auto;
  border: 1px solid black;
}

.contacts {
  background-color: white;
  text-align: center;
}

.contacts__questions {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 30px;
}

.contacts__text {
  margin: 0;
  padding: 10px;
}

.contacts__text--link {
  text-decoration: none;
}
