.page-footer {
  width: 320px;
  margin: 0 auto;
  border: 1px dashed black;
}

.contacts {
  background-color: white;
  text-align: center;
}

.contacts__questions {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.contacts__text {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 100;
  color: #d22856
}

.contacts__text--link {
  text-decoration: none;
  color: #d22856
}

@media (max-width: 660px) {
  .page-footer__tablet {
    display: none;
  }
}

// tablet
@media (min-width: 660px) {
  .page-footer {
    width: 660px;
    margin: 0 auto;
    border: 1px dashed black;
  }

  .page-footer__contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts__questions {
    width: 100%;
  }

  .contacts__call {
    width: 50%;
  }

  .contacts__write {
    width: 50%;
  }

  .contacts__come {
    width: 100%;
  }

  .page-footer__tablet {
    height: 127px;
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 660px) {
  .page-footer {
    width: 660px;
    margin: 0 auto;
    border: 1px dashed black;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
    margin: 0 auto;
    border: 1px dashed black;
  }

  .contacts__questions{
    font-size: 50px;
    line-height: 61px;
    // font-weight: lighter;
    font-weight: 100;
    // font-family: "Open Sans light";
  }

  .contacts__call {
    width: 33.3%;
    order: 1;
  }

  .contacts__write {
    width: 33.3%;
    order: 3;
  }

  .contacts__come {
    width: 33.3%;
    order: 2;
  }
}
