.page-header {
  margin: 0 auto;
  width: 320px;
  background-color: #283645;
}

.main-nav {

}

.main-nav__logo {
  margin-right: auto;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.main-nav__toggle {
  margin-left: auto;
}
.main-nav__wrapper {

}

.main-nav__list {
  list-style: none;
  padding: 0;
}

.site-list__item {
  text-align: center;
}
.site-list__item a {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

@media (min-width: 660px) {
  .page-header {
    margin: 0 auto;
    width: 660px;
  }
}
