.photo-main {
  width: 320px;
  margin: 0 auto;
  border: 1px dashed black;
}

.photo-main__title {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  // min-width: 320px;
  // height: 170px;
}

.photo-title__text {
  color: white;
  text-align: center;
  margin: 0;
  padding: 50px 0;
  font-size: 24px;
}

// tablet
@media (min-width: 660px) {
  .photo-main {
    width: 660px;
    margin: 0 auto;
    border: 1px dashed black;
  }

  .photo-main__title {
    width: 660px;
    height: 440px;
    background-image: url("../img/back-tablet@1x.jpg");
    background-repeat: no-repeat;
  }

  .photo-title__text {
    padding-top: 185px;
    text-align: center;
    font-size: 50px;
    line-height: 61px;
  }
}

// desktop
@media (min-width: 1200px) {
  .photo-main {
    width: 1200px;
    margin: 0 auto;
    border: 1px dashed black;
  }

  .photo-main__title {
    width: 1200px;
    height: 440px;
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
  }

  .photo-title__text {
    padding-top: 185px;
    padding-right: 270px;
    padding-left: 270px;
    text-align: center;
    font-size: 50px;
    line-height: 61px;
  }
}
